.img-background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background {
    position: fixed;
    /* Fija el video en toda la ventana */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ajusta el video sin deformarlo */
}

.bloqueo-content {
    position: relative;
    display: flex;
    height: 100vh;
    z-index: 1;
    /* Asegura que el contenido esté sobre el video */
}

/* Barra que siempre permanece a la izquierda y contiene los elementos de login. */
.login-panel {
    max-width: 260px;
    /*
    width: 250;
    
    min-width: 220px;
    
     Porcentaje de altura para cada fila */
    display: grid;
    grid-template-rows: 30% 35% 10% 10%;

    /* Reservado para el proximo diseño
    margin: 10px;
    border-radius: 15px;*/
}

.info-panel {
    flex: 2;
    display: grid;
}

.pass-label {
    text-align: center;
}

.login-element {
    margin: 0px 10px 0px 10px;
}

.bloqueo-ico {
    filter: invert(1);
}

.bloqueo-btn:hover {
    border-color: white;
}

.top-buttons {
    justify-content: space-between;
}

.notification {
    justify-content: space-between;
    padding: 10px;
}

.version {
    color: white;
    text-align: center;
    align-self: flex-end;
}