.layout {
    display: flex;
    height: 100vh;
}

.sidebar {
    position: sticky;
    left: 0px;
    top: 0px;
    border-right: 1px solid var(--light_gray);
}

.main-section {
    position: flex;
    flex: 1;
    overflow-y: auto;
}

.title-bar {
    position: sticky;
    top: 0;
    left: 0;
}

.empty-image {
    width: 50vh;
    height: 50vh;
}

.options-bar {
    position: fixed;
    top: 65px;
    left: 50%;
    max-height: 80dvh;
    z-index: 1000;
    display: none;
}

.botton-bar {
    position: sticky;
    bottom: var(--normal-margin);
    max-width: min-content;
    margin: auto;
}

.botton-bar-button {
    width: 50px;
}

.modal-content-warning {
    width: 320px;
}

.search {
    min-width: 30vw;
}

/* Estilos específicos para modo oscuro */
@media (prefers-color-scheme: dark) {
    .sidebar {
        border-right: 1px solid var(--dark_gray);
    }
}