.bloqueo-content {
    height: 100dvh;
    /* Asegura que el contenido esté sobre el video o imagen*/
    z-index: 1;
}

/* Barra que siempre permanece a la izquierda y contiene los elementos de login. */
.login-panel {
    max-width: 260px;
}

.info-panel {
    flex: 1;
    display: grid;
}

.password-field {
    height: 40px;
}

.login-margin {
    margin: 0px 10px 0px 10px;
}

.notification {
    cursor: pointer;
    align-items: center;
    /* Permite hacer clic en los botones */
    -webkit-app-region: no-drag;
}

.version {
    color: white;
    text-align: center;
    align-self: flex-end;
}

/* Responsive */
@media (min-width: 800px) {
    .notification {
        min-width: 500px;
    }
}