.img-wallpaper {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-wallpaper {
    /* Fija el video en toda la ventana */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* Ajusta el video sin deformarlo */
    object-fit: cover;
}

.bloqueo-content {
    position: relative;
    display: flex;
    height: 100vh;
    /* Asegura que el contenido esté sobre el video o imagen*/
    z-index: 1;
}

/* Barra que siempre permanece a la izquierda y contiene los elementos de login. */
.login-panel {
    max-width: 260px;
    display: grid;
    grid-template-rows: 30% 35% 10% 10%;
}

.info-panel {
    flex: 1;
    display: grid;
}

.option-input {
    height: 40px;
}

.login-element {
    margin: 0px 10px 0px 10px;
}

.notification {
    cursor: pointer;
    align-items: center;
    /* Permite hacer clic en los botones */
    -webkit-app-region: no-drag;
}

.version {
    color: white;
    text-align: center;
    align-self: flex-end;
}

/* Responsive */
@media (min-width: 800px) {
    .notification {
        min-width: 500px;
    }
}