/*
 * Estilo global de la aplicación. 
 *
 * El objetivo de este archivo es estilizar los elementos
 * mas básicos que se usan en multiples vistas. De esta
 * forma, todos estos elementos tendrán el mismo diseño y
 * mantendrán coherencia visual y estética, sin necesidad
 * repetir código de CSS.
 */


/* Carga de tipografías personalizadas. */
@font-face {
    font-family: Varela;
    src: url(../assets/fonts/VarelaRound-Regular.ttf);
}

@font-face {
    font-family: IBM_plex_mono;
    src: url(../assets/fonts/IBMPlexMono-Regular.ttf);
}

@font-face {
    font-family: Nunito;
    src: url(../assets/fonts/NunitoSans-Regular.ttf);
}

@font-face {
    font-family: major_mono;
    src: url(../assets/fonts/MajorMonoDisplay-Regular.ttf);
}

@font-face {
    font-family: oswald;
    src: url(../assets/fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: source_code;
    src: url(../assets/fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: jetBrains_mono;
    src: url(../assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

/* Desactiva el scroll bar. */
body::-webkit-scrollbar {
    display: none;
}

/* Reinicia el diseño de la página. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* Definición de colores */
:root {
    --app_light: rgb(245, 245, 245);
    --app_light_transparent: rgba(245, 245, 245, 0.75);
    --app_dark: rgb(10, 10, 10);
    --app_dark_transparent: rgba(10, 10, 10, 0.75);
    --neutral_grey: rgb(130, 130, 130);
    --light_gray: rgb(230, 230, 230);

    /* Colores de las tarjetas */
    --color1: rgb(30, 35, 40);
    --color2: rgb(50, 20, 75);
    --color3: rgb(0, 100, 255);
    --color4: rgb(0, 255, 150);
    --color5: rgb(0, 175, 60);
    --color6: rgb(250, 190, 0);
    --color7: rgb(215, 60, 15);
    --color8: rgb(220, 0, 50);
    --color9: rgb(230, 10, 20);
    --color10: rgb(150, 0, 0);
}

/* Permite arrastrar la app */
.draggable {
    -webkit-app-region: drag;
}

/* Estilos generales para la aplicación web en modo claro */
body {
    font-family: Nunito;
    font-size: 16px;
    background: var(--app_light);
    color: black;
    user-select: none;
}

button {
    color: black;
    /* Permite hacer clic en los botones sobre una area draggable*/
    -webkit-app-region: no-drag;
}

/* Estilos primitivos que se repiten. */
.brand-text {
    font-family: Varela;
    width: min-content;
    height: min-content;
    grid-column: 2;
}

h1 {
    font-size: 24px;
    font-family: inter;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

.minimum-text {
    font-size: 10px;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 14px;
}

.large-text {
    font-size: 18px;
}

.mayus {
    text-transform: uppercase;
}

.centered-text {
    text-align: center;
}

/* Redondeo de elementos grandes*/
.normal-rounded {
    border-radius: 10px;
}

/* Redondeo de elementos pequeños*/
.minimal-rounded {
    border-radius: 6px;
}

.logo-img {
    width: 17px;
    height: 17px;
    background-image: url(../assets/ico/Logo.svg);
    /* Asegura que la imagen cubra todo el contenedor */
    background-size: cover;
    /* Centra la imagen */
    background-position: center;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    margin-right: 5px;
}

.logo {
    display: grid;
    grid-template-columns: min-content;
    width: min-content;
    height: min-content;
    align-items: center;
}

.colored-blur {
    background: var(--app_light_transparent);
    filter: saturate(5);
    backdrop-filter: blur(30px);
}

.colored-overlay {
    background: var(--app_light_transparent);
}

.saturate-blur {
    background: transparent;
    filter: saturate(2);
    backdrop-filter: blur(30px);
}

.blur {
    background: transparent;
    backdrop-filter: blur(30px);
}


.horizontal_elem-area {
    display: flex;
    /* Espacio entre elementos */
    gap: 10px;
}

.vertical-elem-area {
    display: flex;
    flex-direction: column;
    /* Espacio entre elementos */
    gap: 10px;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.horizontal-flex {
    display: flex;
    flex-direction: row;
}

.centered {
    align-items: center;
}

.big-spaced {
    gap: 30px;
}

.reverse {
    justify-content: flex-end;
    /* Alinea los botones a la derecha */
}

.spaced {
    justify-content: space-between;
}

.always-front {
    /* Asegura que el elemento esté siempre al frente */
    z-index: 10;
}

/* Colores */
.color1 {
    background-color: var(--color1);
}

.color2 {
    background-color: var(--color2);
}

.color3 {
    background-color: var(--color3);
}

.color4 {
    background-color: var(--color4);
}

.color5 {
    background-color: var(--color5);
}

.color6 {
    background-color: var(--color6);
}

.color7 {
    background-color: var(--color7);
}

.color8 {
    background-color: var(--color8);
}

.color9 {
    background-color: var(--color9);
}

.color10 {
    background-color: var(--color10);
}

/* ======================= Elementos complejos ======================= */
.card {
    font-family: jetBrains_mono;
    display: flex;
    flex-direction: column;
    max-width: 220px;
    border-radius: 30px;
    color: white;
    padding: 40px 15px 15px 15px;
    gap: 15px;
}

.custom-btn {
    background: transparent;
    border: solid 1px;
    transition: 0.3s;
    cursor: pointer;
}

.custom-btn:hover {
    color: white;
    background-color: black;
    border-color: black;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid 1px;
    transition: 0.3s;
}

.custom-radio input {
    /*Oculta el radio button original */
    display: none;
}

.custom-radio:has(input:checked) {
    color: white;
    background-color: black;
    border-color: black;
}

.custom-radio input:checked+.radio-ico {
    background-image: url('../assets/ico/feather/check-circle.svg');
    filter: invert(1);
}

.radio-ico {
    width: 20px;
    height: 20px;
    background-image: url('../assets/ico/feather/circle.svg');
    /* Asegura que la imagen cubra todo el contenedor */
    background-size: cover;
    /* Centra la imagen */
    background-position: center;
    /* Evita que la imagen se repita */
    background-repeat: no-repeat;
    transition: 0.3s;
}

.custom-radio2 {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid 1px;
    border-color: transparent;
    transition: 0.3s;
}

.custom-radio2 input {
    /*Oculta el radio button original */
    display: none;
}

.custom-radio2:has(input:checked) {
    border-color: black;
}

.radio-color {
    width: 20px;
    height: 20px;
}

.custom-input {
    text-align: center;
    background-color: var(--app_light);
    border: 1px solid var(--neutral_grey);
}

.normal-btn-ico {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: transparent;
    border: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.normal-btn-ico:hover {
    border: solid 1px;
}

.normal-icon {
    width: 20px;
    height: 20px;
}

.card-btn {
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.card-icon {
    width: 20px;
    height: 20px;
    filter: invert(1);
}

.large-icon {
    width: 25%;
    height: 25%;
}

/* Estilos para el modal */
.modal {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-app-region: no-drag;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--app_light);
    /* Hace que el contenido sea scrolleable */
    overflow-y: auto;
    box-shadow: 0px 0px 60px 8px rgba(0, 0, 0, 0.20);
}

.modal-content::-webkit-scrollbar {
    display: none;
}

.modal-header {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    /* Distribuye los elementos en los extremos */
    justify-content: space-between;
    /* Alinea verticalmente */
    align-items: center;
    -webkit-app-region: drag;
}

.scrolleable {
    /* Hace que el contenido sea scrolleable */
    overflow-y: auto;
}

.scrolleable::-webkit-scrollbar {
    width: 8px;
}

.scrolleable::-webkit-scrollbar-thumb {
    background: var(--neutral_grey);
    border-radius: 4px;
}

.scrolleable::-webkit-scrollbar-track {
    display: none;
}

.no-scrolleable {
    overflow: hidden;
}

.narrow-margin {
    margin: 5px;
}

.normal-margin {
    margin: 15px;
}

.minimal-padding {
    padding: 5px;
}

.narrow-padding {
    padding: 10px;
}

.normal-padding {
    padding: 15px;
}

/* Responsive */
@media (max-width: 1200px) {
    .hide-in-small {
        display: none;
    }
}

/* Estilos específicos para modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--app_dark);
        color: white;
    }

    button {
        color: white;
    }

    .logo-img {
        filter: invert(1);
    }

    .custom-input {
        background-color: black;
        color: white;
        border: 1px solid var(--neutral_grey);
    }

    .modal-content {
        background-color: var(--app_dark);
    }

    .normal-btn-ico:hover {
        border: solid 1px white;
    }

    .normal-icon {
        filter: invert(1);
    }

    .large-icon {
        filter: invert(1);
    }

    .colored-blur {
        background: var(--app_dark_transparent);
    }

    .colored-overlay {
        background: var(--app_dark_transparent);
    }

    .custom-radio:has(input:checked) {
        color: black;
        background-color: white;
        border-color: white;
    }

    .radio-ico {
        filter: invert(1);
    }

    .custom-radio input:checked+.radio-ico {
        filter: invert(0);
    }

    .custom-btn {
        color: white;
    }

    .custom-btn:hover {
        color: black;
        background-color: white;
        border-color: white;
    }
}