<div style="display: flex;">
    <div class="logo">
        <div class="logo-img"></div>
        <p class="brand-text">Codaby</p>
    </div>
    <p class="large-text">Sanctuary</p>
</div>

<p>Versión 5 "Eridani". Aplicación creada con la tecnología
    Electron, un proyecto de GitHub. 🚀</p>

<p>Eridani, genitivo de la constelación "Eridanus". Es la
    sexta constelación más grande de las 88 constelaciones
    modernas. En la mitología griega, el Eridanus era un río
    que brotaba de las aguas de Acuario. (Wikipedia).</p>

<h2>Iconos:</h2>

<p>Iconos diseñados por Cole Bemis. Puedes
    encontrar más de su trabajo en su sitio web: https://colebemis.com/</p>

<p>Incididunt consectetur aliqua nisi laborum labore cupidatat magna nisi ex. In ut amet aliqua deserunt. Incididunt
    eu voluptate minim elit fugiat excepteur aliquip laboris aliquip magna. Lorem deserunt nulla duis exercitation
    aliqua tempor. Sunt mollit sint eu proident est.</p>