<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/block.css">
    <script src="../renderer/bloqueoRenderer.js"></script>
    <title>Codaby Sanctuary | 🔒</title>
</head>

<body>
    <!-- fondo -->
    <div id="visual-background">
        <!--
        <img class="img-background" src="../assets/img/Yakup Ipek Pixabay.jpg">
        -->
        <video autoplay loop muted playsinline class="video-background">
            <source src="../assets/vid/Yakup Ipek Pixabay.mp4" type="video/mp4">
        </video>
    </div>

    <!-- Contenedor de todo -->
    <div class="bloqueo-content">
        <!-- Panel de login con saludo -->
        <div class="normal-padding colored-blur login-panel">
            <div class="logo">
                <div class="logo-img"></div>
                <p class="brand-text" href="#">Codaby</p>
            </div>
            <h1 id="greeting" class="login-element">¡Saludos, terricola!</h1>
            <label id="pass-label" class="medium-text centered-text login-element">Contraseña:</label>
            <input class="rounded-input pass-input login-element" type="password" id="password" name="password" required>
        </div>

        <!-- Panel de botones superiores y área de notificaciones -->
        <div class="normal-padding info-panel draggable">
            <!-- Área de botones superior -->
            <div class="horizontal_elem-area spaced">
                <button id="open-about" class="normal-btn-ico saturate-blur bloqueo-btn">
                    <img src="../assets/ico/feather/info.svg" class="normal-icon bloqueo-ico">
                </button>

                <div class="horizontal_elem-area">
                    <button id="minimize" class="normal-btn-ico saturate-blur bloqueo-btn">
                        <img src="../assets/ico/feather/minus-circle.svg" class="normal-icon bloqueo-ico">
                    </button>
                    <button id="maximize" class="normal-btn-ico saturate-blur bloqueo-btn">
                        <img src="../assets/ico/feather/maximize.svg" class="normal-icon bloqueo-ico">
                    </button>
                    <button id="close" class="normal-btn-ico saturate-blur bloqueo-btn">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon bloqueo-ico">
                    </button>
                </div>
            </div>

            <!-- Área de notificaciones -->
            <div class="vertical-elem-area reverse centered">

                <button class="colored-blur normal-rounded narrow-padding horizontal_elem-area spaced notification">
                    <div class="horizontal_elem-area centered">
                        <img src="../assets/ico/feather/info.svg" class="normal-icon">
                        <span class="medium-text">Anim laborum proident aliqua ex.</span>
                    </div>
                    <span class="medium-text">Clic para leer</span>
                </button>

            </div>

            <!-- Área de información de versión -->
            <p class="small-text version">Codaby | Sanctuary 4 Draconis for Windows</p>
        </div>

        <!-- Modal de información acerca de -->
        <div id="modal-about" class="modal blur">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>Acerca de Codaby Sanctuary</h2>
                    <button id="close-about" class="normal-btn-ico">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                    </button>
                </div>
                <div id="about-body" class="vertical-elem-area scrolleable">
                </div>
            </div>
        </div>
    </div>
</body>

</html>