<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="../renderer/home.js"></script>
    <title>Codaby Sanctuary</title>
</head>

<body>
    <div class="layout">
        <!-- Botones a la izquierda -->
        <div class="sidebar normal-padding vertical-flex centered spaced">
            <div class="vertical-flex big-spaced">
                <div class="vertical-flex centered">
                    <button id="home" class="normal-btn-ico">
                        <img src="../assets/ico/feather/home.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">Inicio</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="lock" class="normal-btn-ico">
                        <img src="../assets/ico/feather/lock.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">Bloquear</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="settings" class="normal-btn-ico">
                        <img src="../assets/ico/feather/settings.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">Configuración</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="messages" class="normal-btn-ico">
                        <img src="../assets/ico/feather/message-square.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">Mensajes</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="user" class="normal-btn-ico">
                        <img src="../assets/ico/feather/user.svg " class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">Usuario</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="random-pass" class="normal-btn-ico">
                        <img src="../assets/ico/feather/key.svg " class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small">CLave aleatoria</label>
                </div>
            </div>

            <button id="App-btn" class="normal-btn-ico">
                <img src="../assets/ico/sanctuary.png" class="normal-icon">
            </button>
        </div>

        <!-- Contenido -->
        <div class="main-content">
            <!-- Barra de titulo -->
            <div id="title-bar"
                class="title-bar normal-padding horizontal_elem-area draggable spaced centered colored-blur">
                <h2>Mis contraseñas</h2>
                <div class="horizontal_elem-area">
                    <button id="minimize" class="normal-btn-ico">
                        <img src="../assets/ico/feather/minus-circle.svg" class="normal-icon">
                    </button>
                    <button id="maximize" class="normal-btn-ico">
                        <img src="../assets/ico/feather/maximize.svg" class="normal-icon">
                    </button>
                    <button id="close" class="normal-btn-ico">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                    </button>
                </div>
            </div>

            <div class="normal-padding">
                <p>Voluptate deserunt laborum sit Lorem ullamco ea laborum. Nisi occaecat irure ipsum excepteur ad
                    voluptate
                    laboris voluptate ea. Pariatur eu irure et ex aliquip anim amet ullamco dolor sit ea cupidatat. Quis
                    tempor sit elit laboris. Nostrud cillum veniam ut exercitation laborum veniam anim minim qui et
                    dolore.

                    Ipsum sit aute voluptate aute officia sunt. Lorem reprehenderit Lorem cupidatat deserunt aute et eu
                    sit
                    do consectetur qui elit non officia. Ex ullamco consectetur labore fugiat aute ullamco. Sint anim ex
                    ad
                    aliqua amet ea enim incididunt. Dolor tempor exercitation eu excepteur eiusmod commodo. Voluptate
                    velit
                    sint cupidatat incididunt elit ea Lorem elit officia exercitation aliqua dolore.

                    Nulla officia id mollit occaecat in consectetur anim mollit do enim deserunt aliquip excepteur
                    officia.
                    In irure Lorem qui incididunt aute ipsum consectetur ea eu. Aliqua reprehenderit magna eiusmod eu
                    eiusmod nostrud fugiat et cupidatat. Ex velit Lorem laborum ipsum incididunt ea ex. Deserunt
                    excepteur
                    exercitation aliquip occaecat fugiat deserunt.

                    Eiusmod magna qui deserunt Lorem et ad sit aute aliquip nulla consectetur. Aliqua in aute consequat
                    in
                    reprehenderit ad proident proident amet duis duis pariatur esse incididunt. Nostrud qui sit enim
                    dolor
                    qui voluptate ea in nisi do aute laboris laborum ullamco.

                    Reprehenderit elit do incididunt dolor enim. Ut occaecat commodo labore reprehenderit sint excepteur
                    velit proident quis eiusmod. Dolore ullamco consectetur commodo excepteur aliquip.

                    Amet ullamco in ea quis nostrud dolore culpa id nostrud nulla dolor sunt. Tempor irure dolor ex
                    tempor
                    sunt sit mollit excepteur. Aute et anim ullamco commodo consequat.

                    Proident elit nulla commodo adipisicing. Anim excepteur qui sint culpa magna reprehenderit mollit.
                    Est
                    officia consectetur deserunt aliqua exercitation irure tempor velit quis fugiat sint laborum
                    officia.
                    Nisi consectetur amet Lorem nulla aliquip.

                    Nostrud sit adipisicing commodo cupidatat officia exercitation labore. Velit id tempor est nulla
                    sunt
                    aliqua id laborum nulla officia. Tempor dolor et pariatur Lorem culpa do commodo voluptate sunt.
                    Irure
                    qui voluptate aute exercitation id. Cupidatat cillum in proident non eu occaecat occaecat elit
                    nulla.
                    Minim consectetur consequat consectetur consectetur qui culpa enim nulla ipsum. Officia commodo
                    nostrud
                    veniam dolore amet labore fugiat tempor.

                    Mollit elit do laboris nisi duis fugiat. Aute enim adipisicing duis pariatur non pariatur aliquip
                    quis
                    enim proident aliqua labore id. Lorem amet eu adipisicing sunt officia nostrud veniam est.

                    Lorem ex duis aliqua dolor dolore elit amet minim in duis cupidatat et magna sunt. Elit occaecat
                    minim
                    id commodo incididunt enim quis sit. Esse laborum qui aliquip qui laboris consectetur non pariatur
                    irure
                    dolore. Commodo excepteur aliqua ea quis consequat irure culpa excepteur aliquip reprehenderit
                    reprehenderit reprehenderit. Ad voluptate commodo consectetur do.</p>
            </div>

            <div class="botton-bar horizontal_elem-area colored-blur narrow-padding normal-rounded big-spaced">
                <div class="vertical-flex centered">
                    <button id="edit-pass" class="normal-btn-ico">
                        <img src="../assets/ico/feather/edit.svg" class="normal-icon">
                    </button>
                    <label class="small-text">Editar</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="new-pass" class="normal-btn-ico">
                        <img src="../assets/ico/feather/plus-circle.svg" class="normal-icon">
                    </button>
                    <label class="small-text">Nuevo</label>
                </div>

                <div class="vertical-flex centered">
                    <button id="delete-pass" class="normal-btn-ico">
                        <img src="../assets/ico/feather/delete.svg" class="normal-icon">
                    </button>
                    <label class="small-text">Eliminar</label>
                </div>
            </div>
        </div>

        <!-- Modal para agregar una nueva contraseña -->
        <div id="modal-new" class="modal blur">
            <div class="modal-content normal-rounded">
                <div class="modal-header normal-padding colored-blur">
                    <h2>Nueva contraseña</h2>
                    <button id="close-modal-new" class="normal-btn-ico">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                    </button>
                </div>

                <div class="normal-padding">
                    <p>Mollit aliquip aliqua commodo occaecat reprehenderit duis cillum nulla culpa. Ex laborum et ut et
                        commodo. Voluptate magna nulla enim est mollit. Adipisicing consequat ex ea ipsum nostrud
                        reprehenderit ipsum reprehenderit excepteur sit mollit duis irure. Laborum aliqua velit eu
                        cillum
                        commodo est occaecat duis. Elit incididunt in enim ut eiusmod dolor voluptate veniam ipsum elit
                        do
                        Lorem.</p>
                    <p>Mollit aliquip aliqua commodo occaecat reprehenderit duis cillum nulla culpa. Ex laborum et ut et
                        commodo. Voluptate magna nulla enim est mollit. Adipisicing consequat ex ea ipsum nostrud
                        reprehenderit ipsum reprehenderit excepteur sit mollit duis irure. Laborum aliqua velit eu
                        cillum
                        commodo est occaecat duis. Elit incididunt in enim ut eiusmod dolor voluptate veniam ipsum elit
                        do
                        Lorem.</p>
                    <p>Mollit aliquip aliqua commodo occaecat reprehenderit duis cillum nulla culpa. Ex laborum et ut et
                        commodo. Voluptate magna nulla enim est mollit. Adipisicing consequat ex ea ipsum nostrud
                        reprehenderit ipsum reprehenderit excepteur sit mollit duis irure. Laborum aliqua velit eu
                        cillum
                        commodo est occaecat duis. Elit incididunt in enim ut eiusmod dolor voluptate veniam ipsum elit
                        do
                        Lorem.</p>
                    <p>Mollit aliquip aliqua commodo occaecat reprehenderit duis cillum nulla culpa. Ex laborum et ut et
                        commodo. Voluptate magna nulla enim est mollit. Adipisicing consequat ex ea ipsum nostrud
                        reprehenderit ipsum reprehenderit excepteur sit mollit duis irure. Laborum aliqua velit eu
                        cillum
                        commodo est occaecat duis. Elit incididunt in enim ut eiusmod dolor voluptate veniam ipsum elit
                        do
                        Lorem.</p>
                    <p>Mollit aliquip aliqua commodo occaecat reprehenderit duis cillum nulla culpa. Ex laborum et ut et
                        commodo. Voluptate magna nulla enim est mollit. Adipisicing consequat ex ea ipsum nostrud
                        reprehenderit ipsum reprehenderit excepteur sit mollit duis irure. Laborum aliqua velit eu
                        cillum
                        commodo est occaecat duis. Elit incididunt in enim ut eiusmod dolor voluptate veniam ipsum elit
                        do
                        Lorem.</p>
                </div>
            </div>
        </div>
</body>

</html>