<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/home.css">
    <script type="module" src="../renderer/homeRenderer.js" defer></script>
    <title>Codaby Sanctuary</title>
</head>

<body>
    <div class="layout">
        <!-- Sidebar -->
        <section id="sidebar" class="sidebar normal-padding vertical-flex centered spaced">
            <div class="vertical-flex big-spaced">
                <div class="vertical-flex centered">
                    <button id="home" class="ico-btn">
                        <img src="../assets/ico/feather/home.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="keys"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="lock" class="ico-btn">
                        <img src="../assets/ico/feather/lock.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="block"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="settings" class="ico-btn">
                        <img src="../assets/ico/feather/settings.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="settings"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="messages" class="ico-btn">
                        <img src="../assets/ico/feather/message-square.svg" class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="messages"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="user" class="ico-btn">
                        <img src="../assets/ico/feather/user.svg " class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="user-info"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="random-pass" class="ico-btn">
                        <img src="../assets/ico/feather/key.svg " class="normal-icon">
                    </button>
                    <label class="small-text hide-in-small" data-i18n="random-key"></label>
                </div>
            </div>

            <button id="App-btn" class="ico-btn">
                <img src="../assets/ico/sanctuary.png" class="normal-icon">
            </button>
        </section>

        <!-- Contenido -->
        <section class="main-content">
            <!-- Barra de titulo -->
            <div id="title-bar"
                class="title-bar normal-padding horizontal_elem-area draggable spaced centered colored-blur">
                <h2 data-i18n="my-keys"></h2>
                <div class="horizontal_elem-area centered">
                    <input id="search" type="text" class="custom-input search minimal-rounded" placeholder="Buscar...">
                    <img src="../assets/ico/feather/search.svg" class="mini-icon">
                </div>
                <div class="horizontal_elem-area">
                    <button id="minimize" class="ico-btn">
                        <img src="../assets/ico/feather/minus-circle.svg" class="normal-icon">
                    </button>
                    <button id="maximize" class="ico-btn">
                        <img src="../assets/ico/feather/maximize.svg" class="normal-icon">
                    </button>
                    <button id="close" class="ico-btn">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                    </button>
                </div>
            </div>
            <div id="cards-container" class="cards-container normal-padding">
                <!-- Aquí se insertan las tarjetas creadas -->
            </div>

            <!-- bottonbar -->
            <div class="botton-bar floating-container horizontal_elem-area colored-blur big-spaced">

                <div id="edit-card-body" class="vertical-flex centered">
                    <button id="edit-card" class="ico-btn invisible">
                        <img src="../assets/ico/feather/edit.svg" class="normal-icon">
                    </button>
                    <label class="small-text" data-i18n="edit"></label>
                </div>

                <div class="vertical-flex centered">
                    <button id="new-card" class="ico-btn">
                        <img src="../assets/ico/feather/plus-circle.svg" class="normal-icon">
                    </button>
                    <label class="small-text" data-i18n="new"></label>
                </div>

                <div id="delete-card-body" class="vertical-flex centered">
                    <button id="delete-card" class="ico-btn invisible">
                        <img src="../assets/ico/feather/trash.svg" class="normal-icon">
                    </button>
                    <label class="small-text" data-i18n="delete"></label>
                </div>

            </div>
        </section>

        <!-- Modal -->
        <div id="modal" class="modal blur">
            <div class="modal-content scrolleable">
                <div class="modal-header normal-padding colored-blur">
                    <h2 id="modal-title"></h2>
                    <button id="close-modal" class="ico-btn">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                    </button>
                </div>
                <!-- Contenido del modal -->
                <div id="modal-body"></div>
            </div>
        </div>

        <!-- Modal para eliminar una tarjeta -->
        <div id="modal-warning" class="modal blur">
            <div class="modal-content-warning scrolleable">
                <div class="modal-header normal-padding">
                    <img src="../assets/ico/feather/alert-triangle.svg" class="normal-icon-white">
                    <h2>Advertencia</h2>
                    <button id="close-modal-warning" class="ico-btn-white">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon-white">
                    </button>
                </div>

                <div class=" vertical-elem-area normal-padding big-spaced">
                    <label id="warning-message">¿Realmente quieres eliminar esta contraseña?</label>
                    <div class="horizontal-flex distributed">
                        <button id="cancel-warning-btn"
                            class="action-btn-warning minimal-padding minimal-rounded">Cancelar</button>
                        <button id="confirm-warning-btn"
                            class="action-btn-warning minimal-padding minimal-rounded">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
</body>

</html>