<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/id.css">
    <script type="module" src="../renderer/idRenderer.js"></script>
    <title data-i18n="tittle"></title>
</head>

<body>
    <div class="animated-background"></div>

    <div class="colored-overlay">
        <!-- Modal -->
        <div id="modal" class="modal blur">
            <div id="modal-content" class="modal-content scrolleable">
                <div class="modal-header normal-padding colored-blur">
                    <h2 id="modal-title"></h2>
                    <button id="close-modal" class="transparent-btn transparent-btn-padding minimal-rounded">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon darkmode-invert">
                    </button>
                </div>
                <!-- Contenido del modal -->
                <div id="modal-body"></div>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
</body>

</html>