<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/id.css">
    <script src="../renderer/idRenderer.js"></script>
    <title>Sanctuary ID</title>

</head>

<body>
    <div class="animated-background"></div>

    <div class="colored-overlay">
        <div class="modal-content scrolleable normal-rounded">
            <div class="modal-header normal-padding colored-blur">
                <h2>Sanctuary ID</h2>
                <button id="close" class="normal-btn-ico">
                    <img src="../assets/ico/feather/x-circle.svg" class="normal-icon">
                </button>
            </div>

            <div class="vertical-elem-area login-padding">
                <h1 id="greeting" class="centered-text">Hola</h1>
                <p id="instructions" class="centered-text small-text">Gracias por usar Sanctuary. El siguiente paso es
                    crear un ID.</p>

                <div id="name-container" class="vertical-elem-area">
                    <label class="small-text">Nombre:</label>
                    <input id="user-name" class="custom-input minimal-rounded" type="text"
                        placeholder="Nombre de usuario" required>
                </div>

                <div id="pass1-container" class="vertical-elem-area">
                    <label class="small-text">Contraseña:</label>
                    <input id="user-pass1" class="custom-input minimal-rounded" type="password" placeholder="Contraseña"
                        required>
                </div>

                <div id="pass2-container" class="vertical-elem-area">
                    <label class="small-text">Repite tu Contraseña:</label>
                    <input id="user-pass2" class="custom-input minimal-rounded" type="password"
                        placeholder="Repite tu Contraseña" required>
                </div>

                <div id="gender-container" class="vertical-elem-area">
                    <label class="small-text">Genero:</label>
                    <div class="horizontal_elem-area distributed">
                        <label class="custom-radio small-text minimal-rounded minimal-padding horizontal_elem-area">
                            Hombre
                            <input id="gender1" type="radio" name="gender" value="male">
                            <div class="radio-ico"></div>
                        </label>

                        <label class="custom-radio small-text minimal-rounded minimal-padding horizontal_elem-area">
                            Mujer
                            <input id="gender2" type="radio" name="gender" value="female">
                            <div class="radio-ico"></div>
                        </label>

                        <label class="custom-radio small-text minimal-rounded minimal-padding horizontal_elem-area">
                            Neutro
                            <input id="gender3" type="radio" name="gender" value="neutral">
                            <div class="radio-ico"></div>
                        </label>
                    </div>
                </div>

                <button id="done-btn" class="custom-btn minimal-rounded">Listo</button>
                <button id="import-btn" class="simple-btn minimal-rounded small-text">Importar datos desde Sanctuary
                    4.2</button>
            </div>
        </div>
    </div>

    <div id="toast-container"></div>
</body>

</html>