<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/id.css">
    <script src="../renderer/idRenderer.js"></script>
    <title>Sanctuary ID</title>

</head>

<body>
    <div class="animated-background"></div>
    <div class="colored-overlay overlay">
        <div id="tittle-bar" class="normal-padding horizontal_elem-area draggable spaced centered">
            <h2>Sanctuary ID</h2>
            <div class="horizontal_elem-area">
                <button id="minimize" class="normal-btn-ico saturate-blur bloqueo-btn">
                    <img src="../assets/ico/feather/minus-circle.svg" class="normal-icon bloqueo-ico">
                </button>
                <button id="maximize" class="normal-btn-ico saturate-blur bloqueo-btn">
                    <img src="../assets/ico/feather/maximize.svg" class="normal-icon bloqueo-ico">
                </button>
                <button id="close" class="normal-btn-ico saturate-blur bloqueo-btn">
                    <img src="../assets/ico/feather/x-circle.svg" class="normal-icon bloqueo-ico">
                </button>
            </div>
        </div>
        <div class="vertical-elem-area centered-content">
            <h1 class="centered-text">Hola</h1>
            <p class="centered-text">Gracias por usar Sanctuary. El siguiente paso es crear un ID.</p>
            <div class="vertical-elem-area">
                <label class="small-text">Nombre:</label>
                <input id="user-name" class="rounded-input inputs">
            </div>
            <div class="vertical-elem-area">
                <label class="small-text">Contraseña:</label>
                <input id="user-pass1" class="rounded-input inputs" type="password">
            </div>
            <div class="vertical-elem-area">
                <label class="small-text">Repite tu Contraseña:</label>
                <input id="user-pass2" class="rounded-input inputs" type="password">
            </div>
            <div class="vertical-elem-area">
                <label class="small-text">Genero:</label>

                <div class="horizontal_elem-area spaced">
                    <label class="custom-radio small-text">
                        Hombre
                        <input id="gender1" type="radio" name="gender" value="male">
                        <div class="radio-ico"></div>
                    </label>

                    <label class="custom-radio small-text">
                        Mujer
                        <input id="gender2" type="radio" name="gender" value="female">
                        <div class="radio-ico"></div>
                    </label>

                    <label class="custom-radio small-text">
                        Neutro
                        <input id="gender3" type="radio" name="gender" value="neutral">
                        <div class="radio-ico"></div>
                    </label>
                </div>

                <button id="done-btn" class="custom-btn done-btn">Listo</button>
            </div>
        </div>
    </div>
</body>

</html>