<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    img-src 'self' data:;
    object-src 'none';
    base-uri 'none';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/lock.css">
    <script type="module" src="../renderer/lockRenderer.js"></script>
    <title>Codaby Sanctuary | 🔒</title>
</head>

<body>
    <!-- fondo -->
    <div id="visual-wallpaper"></div>

    <!-- Contenedor de todo -->
    <div class="bloqueo-content horizontal-flex">
        <!-- Panel de login con saludo -->
        <div class="login-panel vertical-flex extra-big-spaced normal-padding colored-saturate-blur">
            <div class="vertical-flex">
                <div class="horizontal-flex centered minimal-spaced">
                    <img src="../assets/ico/Logo.svg" class="logo-icon">
                    <p class="brand-text" data-i18n="brand-name"></p>
                </div>
            </div>
            <div class="login-margin vertical-flex expanded distributed">
                <p id="greeting" class="expresive-text"></p>
                <div class="vertical-flex big-spaced">
                    <label id="pass-label" class="medium-text centered-text" data-i18n="password"></label>
                    <div class="password-field">
                        <input type="password" id="password" name="password" required>
                        <button id="togglePassword">
                            <img src="../assets/ico/feather/eye.svg" class="mini-icon darkmode-invert">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel de botones superiores y área de notificaciones -->
        <div class="vertical-flex spaced normal-padding draggable expanded">
            <!-- Área de botones superior -->
            <div class="horizontal-elem-area spaced">
                <button id="open-about"
                    class="transparent-btn-white transparent-btn-padding minimal-rounded saturate-blur">
                    <img src="../assets/ico/feather/info.svg" class="normal-icon-white">
                </button>

                <div class="horizontal-elem-area centered">
                    <label id="friendly-reminder" class="friendly-reminder invisible"></label>
                    <button id="minimize"
                        class="transparent-btn-white transparent-btn-padding minimal-rounded saturate-blur">
                        <img src="../assets/ico/feather/minus-circle.svg" class="normal-icon-white bloqueo-ico">
                    </button>
                    <button id="maximize"
                        class="transparent-btn-white transparent-btn-padding minimal-rounded saturate-blur">
                        <img src="../assets/ico/feather/maximize.svg" class="normal-icon-white bloqueo-ico">
                    </button>
                    <button id="close"
                        class="transparent-btn-white transparent-btn-padding minimal-rounded saturate-blur">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon-white bloqueo-ico">
                    </button>
                </div>
            </div>

            <div class="vertical-flex centered extra-big-spaced">
                <!-- Área de notificaciones -->
                <div class="invisible">
                    <button
                        class="notification transparent-btn-white colored-blur normal-rounded narrow-padding horizontal-elem-area spaced centered">
                        <div class="horizontal-elem-area centered">
                            <img src="../assets/ico/feather/message-square.svg" class="normal-icon darkmode-invert">
                            <p class="medium-text bold"></p>
                        </div>
                        <p class="small-text" data-i18n="notification-btn"></p>
                    </button>
                </div>
                <p class="version small-text saturate-blur narrow-btn-padding ultra-rounded" id="extra-info"></p>
            </div>
        </div>

        <!-- Modal -->
        <div id="modal" class="modal blur no-draggable">
            <div id="modal-content" class="modal-content scrolleable">
                <div class="modal-header normal-padding colored-blur">
                    <h2 id="modal-title"></h2>
                    <button id="close-modal" class="transparent-btn transparent-btn-padding minimal-rounded">
                        <img src="../assets/ico/feather/x-circle.svg" class="normal-icon darkmode-invert">
                    </button>
                </div>
                <!-- Contenido del modal -->
                <div id="modal-body"></div>
            </div>
        </div>
    </div>
</body>

</html>