<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    script-src 'self';
    style-src 'self';
    font-src 'self';
    ">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/splash.css">
    <title>Codaby Sanctuary</title>
</head>

<body>
    <img src="../assets/ico/Logo.svg" class="large-icon">
</body>

</html>